*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.container{
    display: flex;
    margin: auto;
    position: relative;
    width: 1280px;
}

div.containerwrap{
    position: relative;
    width: 1280px;
    padding-top: 10px;
    justify-content: center;
}

div.subcontainer{
    display: flex;  
    margin: auto;
    position: relative;
    width: 100%;
  /*  border: 1px solid rgb(0, 255, 21); */
}

div#sub1{
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    gap: 10px;
    margin-top:8px ;
    font-family: poppins, sans-serif;
    
}

div#judulutama{
    margin: auto;
    text-align: center;
    font-family: poppins, sans-serif;
    font-size: 25px;
}

div#subjudulutama{
    margin: auto;
    text-align: center;
    font-family: poppins, sans-serif;
    font-weight: 500;
}

div#isiutama{
    display: flex;
    justify-content: space-between;
}


div#tnt{
    font-family: poppins, sans-serif;
    margin-left: 200px;
    margin-top: 25px;
}

#logowisudatnt{
    width: 350px;
    margin-left: 75px;
    margin-top: 25px;
}


div.child{
  /*  border: 1px solid rgb(76, 0, 255); */
}

#fw1{
    width: 100% ;
}



img#logostts{ 
    height: 60px;
    margin-top: 10px;
}

h2{
    font-family: 'Times New Roman', Times, serif;
}

div.k10{
    width: 10%;
}

div.k20{
    width: 20%;
}

div.k25{
    width: 25%;
}

div.k33{
    width: 33,33%;
}

div.k50{
    width: 50%;
}

div.k75{
    width: 75%;
}

div.k80{
    width: 80%;
}

div.k100{
    width: 100%;
}

div.kotakitem{
     width: 100%;            
     height: 300px;          
     background-color: rgb(49, 49, 49); 
}

div.tekskotakitem{
    font-family: poppins, sans-serif;
    color: white;
    text-align: left;
    margin-left: 300px;
    padding-left: 15px;
    line-height: 1;
}

#isilogofooter{
    display: flex;
    margin-top: 50px;
    padding-top: 20px;

}

#logofooter{
    width: 100px;
}

#isitekslogofooter {
    line-height: 1.3;
    margin-top: 20px;
    margin-left: 10px;
}

#isifooter{
    margin-top: -150px;
}

#mapsstts{
    width: 100px;
    margin-left: 100px;
}

div.kotakteksbwh{
    width: 100%;            
    height: 0px;          
    background-color: #ffffff;
    margin-top: 40px;
 }
 div.teksbwh{
    font-family: poppins, sans-serif;
    color: black;
    text-align: center;
    line-height: 1;
 }

